/* Существующие стили */
.warning {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.important {
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.code {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  border-radius: 0.25rem;
}

/* Стили для таблиц */
.default-bordered-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 100% !important;
  table-layout: auto !important;
}
.default-bordered-table th,
.default-bordered-table td {
  border: 1px solid #dee2e6;
  padding: 12px !important;
  text-align: left;
  min-width: 120px !important;
  vertical-align: top !important;
  overflow-wrap: break-word !important;
  box-sizing: border-box !important;
}
.default-bordered-table th,
.default-bordered-table .table-header {
  background-color: #f8f9fa;
  font-weight: bold;
}
/*
/* Основные стили для кода */
pre[class*="language-"],
code[class*="language-"] {
  border: none !important;
  background: #f5f2f0 !important;
  padding: 12px !important;
  font-family: "DejaVu Sans Mono", monospace !important;
  font-size: 12pt !important;
  line-height: 1.6 !important;
  white-space: pre !important;
  max-width: 100% !important;
  min-width: 100% !important;
  display: block !important;
}
pre[class*="language-"] {
  white-space: pre !important;
}
.default-bordered-table pre[class*="language-"],
.default-bordered-table code[class*="language-"] {
  font-size: 11pt !important;
  line-height: 1.6 !important;
  padding: 8px !important;
  margin: 0 !important;
}
.mce-content-body [data-mce-selected] {
  outline: none !important;
}
img {
  max-width: 500px !important;
  height: auto !important;
}

/* Медиа-запросы для печати */
@media print {
  body {
    font-size: 12pt;
  }
  pre,
  code {
    font-size: 5pt !important;
    font-family: "DejaVu Sans Mono", monospace !important;
    line-height: 1 !important;
    white-space: pre !important;
    padding: 0 !important;
  }

  img {
    max-width: 500px !important;
    height: auto !important;
  }
  table.default-bordered-table {
    border: 1px solid #000;
    table-layout: auto !important;
  }
  .default-bordered-table td,
  .default-bordered-table th {
    border: 1px solid #000;
    vertical-align: top !important;
    overflow-wrap: break-word !important;
  }
}
